# Ignore the dataset directory (replace 'data/' with your actual dataset folder name)
data/
dataset/
# phase1/2025_baseline_brain2speech/data

# Ignore git repository files
.git/
.gitignore

# Ignore VSCode and devcontainer settings
.vscode/
.devcontainer/

# Ignore Python virtual environments and cache
.venv/
.b2txt2025/
__pycache__/
*.pyc

# Ignore project artifacts and logs
reference/
# *.pdf
# *.txt
*.txt2

# Ignore shell scripts and batch files not needed in the container
*.sh
# *.bat